{% extends "base.html" %}

{% block title %}Cierre de sesión{% endblock %}

{% block content %}
    <div class="container text-center py-5">
        <h1 class="display-4 mb-4">¡Has cerrado sesión!</h1>
        <p class="lead">Puedes volver a iniciar sesión. ¡Esperamos verte pronto!</p>
        
        <!-- Formulario para iniciar sesión -->
        <form action="{% url 'login' %}" method="POST">
            {% csrf_token %}
            <button type="submit" class="btn btn-primary btn-lg">Iniciar sesión</button>
        </form>
    </div>
{% endblock %}
